<section aria-labelledby="title-05" class="surface-light overflow-hidden 
  py-[7.5rem] xl:pt-[10rem]">
  <div
    class="container relative xl:grid xl:grid-cols-[27.8125rem,27.8125rem] xl:justify-between">
    <div class="relative flex items-center xl:order-1">
      <img src="/assets/images/payments.jpg" alt="" class="mx-auto rounded-full">
      <div
        class="hidden md:block absolute w-[27.8125rem] top-0 left-[calc(50%_+_17.9063rem)]">
        <span class="bg-circle-pattern"></span>
      </div>
      <div class="absolute w-[45.9375rem] top-0 left-[43.2%] md:top-[5.3125rem]
        md:left-[54.5572917%] xl:left-[15.9375rem]">
        <div class="bg-left-downward-pattern"></div>
      </div>
    </div>
    <app-features-header-card>
      <h2 id="title-05" title>Zero hassle <br /> payments</h2>
      <p>Our payment is as easy as one two three. We accept most credit cards and debit
        cards. You
        can also link your PayPal account inside the app. Need to pay later? No worries!
        You can
        defer payment for up to a month.
      </p>
    </app-features-header-card>
  </div>
</section>