<section aria-labelledby="title-03" class="surface-light overflow-hidden pt-[9.0625rem]">
  <div
    class="container relative xl:grid xl:grid-cols-[27.8125rem,27.8125rem] xl:justify-between">
    <div class="relative flex items-center xl:order-1">
      <img src="/assets/images/telemetry.jpg" alt="" class="mx-auto rounded-full">
      <div
        class="hidden md:block absolute w-[27.8125rem] top-0 left-[calc(50%_+_17.9063rem)]">
        <span class="bg-circle-pattern"></span>
      </div>
      <div class="absolute w-[45.9375rem] bottom-0 left-0 xl:left-[-7.8125rem]">
        <div class="bg-left-downward-pattern"></div>
      </div>

    </div>
    <header class="mt-14 flex flex-col gap-8 md:gap-10 max-w-[35.8125rem] mx-auto">
      <h2 id='title-03' class="heading-md text-center xl:text-left">Easy to use <br />
        riding telemetry
      </h2>
      <p class="body-md text-center xl:text-left">The Scoot app is available with riding
        telemetry.
        This means it
        can show you your average
        speed, how long you've been using the scooter, your traveling distance, and many
        more
        things all in an easy to use app.
      </p>
      <a routerLink="/" class="button-primary w-[11.25rem] mx-auto xl:mx-0">Learn More</a>
    </header>
  </div>
</section>