<section aria-labelledby="title-03" class="surface-light overflow-hidden 
  pt-[9.0625rem] xl:pt-[12.5rem]">
  <div
    class="container relative xl:grid xl:grid-cols-[27.8125rem,27.8125rem] xl:justify-between">
    <div class="relative flex items-center xl:order-1">
      <img src="/assets/images/telemetry.jpg" alt="" class="mx-auto rounded-full">
      <div
        class="hidden md:block absolute w-[27.8125rem] top-0 left-[calc(50%_+_17.9063rem)]">
        <span class="bg-circle-pattern"></span>
      </div>
      <div class="absolute w-[45.9375rem] bottom-0 left-0 xl:left-[-7.8125rem]">
        <div class="bg-left-downward-pattern"></div>
      </div>
    </div>
    <app-features-header-card>
      <h2 id="title-03" title>Easy to use <br /> riding telemetry</h2>
      <p>The Scoot app is available with riding
        telemetry.
        This means it
        can show you your average
        speed, how long you've been using the scooter, your traveling distance, and many
        more
        things all in an easy to use app.
      </p>
    </app-features-header-card>
  </div>
</section>