<section aria-labelledby="title-04"
  class="pt-[7.5rem] surface-light overflow-hidden xl:pt-[10rem]">
  <div
    class="container grid grid-cols-1 xl:grid-cols-[27.8125rem,27.8125rem] xl:justify-between">
    <div class="relative">
      <img src="/assets/images/near-you.jpg" alt="" class="mx-auto rounded-full">
      <div
        class="absolute w-[45.9375rem] top-0 right-20 md:right-[50%] xl:right-[16.25rem]">
        <span class="bg-right-downward-pattern"></span>
      </div>
      <div
        class="hidden md:block absolute w-[27.8125rem] top-0 right-[calc(50%_+_17.9063rem)]">
        <span class="bg-circle-pattern"></span>
      </div>
    </div>
    <app-features-header-card>
      <h2 id="title-04" title>Coming to a city <br /> near you</h2>
      <p>Scoot is available in 4 major cities so far. We&apos;re expanding rapidly, so be
        sure
        to let us
        know if you want to see us in your hometown. We&apos;re aiming to let our scooters
        loose on 23
        cities over the coming year.</p>
    </app-features-header-card>
  </div>
</section>