<header
  class="relative surface-dark bg-hero-homepage h-[40.625rem] w-full overflow-hidden">
  <div class="container relative z-10 pt-[7.1875rem] md:pt-[8.5625rem] xl:pt-[9.5625rem]">
    <h1 class="heading-xl text-center max-w-[35.8125rem] mx-auto xl:mx-0 
        xl:max-w-[31.25rem] xl:text-left">
      Scooter sharing made
      simple</h1>
    <p class="body-xl text-center mt-6 max-w-[35.8125rem] mx-auto xl:mr-0 xl:ml-[5.9375rem]
        xl:mt-10 xl:max-w-[25.3125rem] xl:text-left">
      Scoot takes the hassle out of urban mobility. Our bikes are placed in convenient
      locations in each of our cities. Use our app to locate the nearest bike, unlock it
      with a tap, and you&apos;re away!</p>
    <a routerLink="/"
      class="button-primary w-[11.25rem] mx-auto mt-[2.125rem] xl:mr-0 xl:ml-[5.9375rem] xl:mt-10">
      Get Scootin
    </a>
    <div
      class="hidden xl:block absolute z-20 top-[21.25rem] w-[12.625rem] left-[-10.3125rem]">
      <span class="bg-line-pattern"></span>
    </div>
  </div>
  <div class="absolute z-20 bottom-[2.125rem] left-[-19.5rem] w-[27.875rem] md:left-[-7.9375rem]
      xl:bottom-[9.8125rem] xl:left-[calc(33.75rem_+_max(50vw_-_34.6875rem,0rem))]">
    <span class="bg-right-arrow-pattern"></span>
  </div>

  <div class="hidden md:block md:absolute md:z-20 md:bottom-[2.8125rem] md:right-[-1.9375rem] 
      md:w-[14.625rem] xl:bottom-[10.25rem]">
    <span class="bg-white-circles-pattern"></span>
  </div>
</header>