<header
  class="relative surface-dark bg-hero-homepage h-[40.625rem] w-full overflow-hidden">
  <div class="container relative z-10 pt-[7.1875rem] md:pt-[8.5625rem]">
    <div class="max-w-[35.8125rem] mx-auto">
      <h1 class="heading-xl text-center">Scooter sharing made simple</h1>
      <p class="body-xl text-center mt-6">Scoot takes the hassle out of urban mobility.
        Our
        bikes are placed
        in convenient locations
        in each of our cities. Use our app to locate the nearest bike, unlock it with a
        tap,
        and
        you&apos;re away!</p>
      <a routerLink="/" class="button-primary w-[11.25rem] mx-auto mt-[2.125rem]">Get
        Scootin</a>
    </div>
  </div>
  <div
    class="absolute z-20 bottom-[2.125rem] left-[-19.5rem] w-[27.875rem] md:left-[-7.9375rem]">
    <span class="bg-right-arrow-pattern"></span>
  </div>

  <div
    class="hidden md:block md:absolute md:z-20 md:bottom-[2.8125rem] md:right-[-1.9375rem] md:w-[14.625rem]">
    <span class="bg-white-circles-pattern"></span>
  </div>

</header>