<section aria-labelledby="title_06" class="surface-dark overflow-hidden bg-neutral-800">

  <div class="container relative  py-[5.5rem] md:py-16 xl:py-[6.375rem]">
    <div
      class="absolute w-[72.0625rem] top-[9.375rem] right-[-12.5rem] xl:right-[-20.5rem]">
      <span class="bg-large-circles-pattern"></span>
    </div>

    <div class="relative z-10 flex flex-col items-center  xl:flex-row xl:justify-between">
      <h2 id="title_06" class="heading-md text-center xl:text-left">Sign up and <br />
        Scoot off today
      </h2>
      <div class="mt-10 flex justify-center items-center gap-3 ">
        <a href="https://www.apple.com/app-store/" target="_blank"
          rel="noopener noreferrer" aria-label="app store">
          <img src="/assets/icons/app-store.svg" alt="">
        </a>
        <a href="https://play.google.com/store/games" target="_blank"
          rel="noopener noreferrer" aria-label="playstore">
          <img src="/assets/icons/google-play.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>