<section aria-labelledby="title_about_03"
  class="surface-light overflow-hidden mt-[7.5rem]">
  <div class="container grid grid-cols-1 gap-14 xl:grid-cols-[27.8125rem,27.8125rem] xl:justify-between">
    <div class="relative">
      <img src="/assets/images/better-living.jpg" alt="" class="rounded-full mx-auto">

      <div class="hidden absolute top-0 left-0 w-full h-full md:flex justify-center">
        <img src="/assets/patterns/circle.svg" alt="" class='relative right-[31.8125rem]'>
      </div>
      <img src="/assets/patterns/right-downward.svg" alt=""
        class="absolute max-w-none top-0 right-0 md:right-[50%]">
    </div>
    <header class="max-w-[35.8125rem] mx-auto xl:mt-[7.8125rem]">
      <h2 id="title_about_03" class="heading-md text-center xl:text-left">Better urban living</h2>
      <p class="mt-8 body-md text-center xl:text-left xl:mt-6">We&apos;re helping connect cities and bring
        people closer
        together. Our scooters are
        also
        fully-electric and we offset the minimal carbon footprint for each ride.
      </p>

    </header>

  </div>
</section>