<section aria-labelledby="title-02" class="surface-light overflow-hidden">
  <div class="relative container pt-[7.5rem] xl:pt-[10rem]">
    <div
      class="hidden md:block absolute top-0 h-[32.0625rem] w-[0.9375rem] left-[6.625rem]
      bg-neutral-300 xl:h-[0.9375rem] xl:w-[calc(66.7%_+_14.0625rem)] xl:left-[-10.3125rem] xl:top-[12.5rem]">
    </div>
    <h2 class="sr-only">How it works:</h2>
    <ul class="relative z-10 flex flex-col gap-12 max-w-[35.8125rem] mx-auto md:gap-10 
        xl:flex-row xl:gap-[1.875rem] xl:max-w-none">
      <li>
        <app-icon-card icon="/assets/icons/locate.svg">
          <h3 title>Locate with app</h3>
          <p>Getting around should be simple (and even fun!) for everyone. We embrace
            technology to provide low cost, smart access to scooters at your fingertips.
          </p>
        </app-icon-card>
      </li>
      <li>
        <app-icon-card icon="/assets/icons/scooter.svg">
          <h3 title>Pick your scooter</h3>
          <p>We show the most important info for the scooters closest to you. So you know
            how much
            charge they have left and can see roughly how much it will cost.
          </p>
        </app-icon-card>
      </li>
      <li>
        <app-icon-card icon="/assets/icons/ride.svg">
          <h3 title>Enjoy the ride</h3>
          <p>Scan the QR code and the bike will unlock. Retract the cable lock, put on a
            helmet, and
            you&apos;re off! Always lock bikes away from walkways and accessibility ramps.
          </p>
        </app-icon-card>
      </li>
    </ul>
  </div>
</section>