<section aria-labelledby="title_about_02"
  class="mt-[4.5rem] surface-light overflow-hidden md:mt-[9rem] xl:mt-[7.5rem]">
  <div
    class="container grid grid-cols-1 gap-14 xl:grid-cols-[27.8125rem,27.8125rem] xl:justify-between">
    <div class="relative xl:order-1">
      <img src="/assets/images/digital-era.jpg" alt="" class="rounded-full mx-auto">
      <img src="/assets/patterns/left-upward-arrow.svg" alt=""
        class="absolute bottom-0 left-0 max-w-none xl:left-[-7.8125rem]">
      <div class="hidden absolute w-full h-full top-0 left-0 md:flex justify-center">
        <img src="/assets/patterns/circle.svg" alt=""
          class="max-w-none relative right-[-31.8125rem]">
      </div>
    </div>
    <header class="max-w-[35.8125rem] mx-auto xl:mt-[7.8125rem]">
      <h2 id="title_about_02" class="heading-md text-center xl:text-left">Mobility for the
        digital era</h2>
      <p class="mt-8 body-md text-center xl:text-left xl:mt-6">Getting around should be
        simple
        (and even fun!)
        for
        everyone. We embrace
        technology to
        provide low cost, smart access to scooters at your fingertips.</p>
    </header>
  </div>
</section>