<article class="bg-neutral-200">
  <div class="grid grid-cols-[1fr,1rem] gap-4 hover:bg-primary-300 p-8" tabindex="0"
    role="button" (click)="onClick()">
    <div class="heading-xs">
      <ng-content select="[question]"></ng-content>
    </div>
    <img src="/assets/icons/chevron.svg" alt="" [ngClass]="{'rotate-180': displayAnswer}"
      class="transition-all">

  </div>
  <div [ngClass]="displayAnswer ? 'max-h-[25rem] py-8' : 'mt-0 max-h-0'"
    class="transition-all body-md overflow-hidden px-8">
    <ng-content select="[answer]"></ng-content>
  </div>
</article>