<section aria-labelledby="title_careers_01"
  class="surface-light mt-[4.5rem] xl:mt-[7.5rem] overflow-hidden">
  <div
    class="container grid grid-cols-1 gap-14 xl:grid-cols-[27.8125rem,27.8125rem] xl:justify-between">
    <div class="relative flex justify-center xl:order-1">
      <img src="/assets/images/join-us.jpg" alt="" class="rounded-full">

      <div class="hidden md:flex absolute top-0 left-0 w-full h-full justify-center">
        <img src="/assets/patterns/circle.svg" alt="" class="translate-x-[31.8125rem]">
      </div>
      <img src="/assets/patterns/left-downward-arrow.svg" alt=""
        class="absolute max-w-none bottom-0 left-0 xl:translate-x-[-7.8125rem]">
    </div>
    <header class="flex flex-col items-center gap-8 max-w-[35.8125rem] mx-auto md:gap-10 xl:gap-6 
        xl:items-start xl:mt-[4.125rem]">
      <h2 id="title_careers_01" class="heading-md text-center xl:text-left">Care to join
        our mission?
      </h2>
      <p class="body-md text-center xl:text-left">We&apos;re always looking for ambitious
        individuals
        to
        help us on our journey. If you&apos;re
        passionate about our mission to provide clean, accessible transport to improve
        urban
        living we want to hear from you!
      </p>
      <a routerLink="/careers" class="button-primary w-[11.25rem] xl:mt-4">Say Hello</a>
    </header>
  </div>
</section>