<section aria-labelledby="title_locations_02"
  class="surface-light my-[4.5rem] md:mt-[9rem] md:mb-[7.5rem] xl:my-[7.5rem]">
  <div class="container">
    <picture>
      <source media="(min-width: 74rem)" srcset="/assets/images/world-map-desktop.png">
      <source media="(min-width: 45rem)" srcset="/assets/images/world-map-tablet.png">
      <img src="/assets/images/world-map-mobile.png" alt="" class="mx-auto">
    </picture>
    <ul class="mt-10 flex flex-col gap-4 md:hidden">
      <li class="bg-primary-300 heading-sm h-[4.5rem] grid place-items-center">New York
      </li>
      <li class="bg-primary-300 heading-sm h-[4.5rem] grid place-items-center">London</li>
      <li class="bg-primary-300 heading-sm h-[4.5rem] grid place-items-center">Jakarta
      </li>
      <li class="bg-primary-300 heading-sm h-[4.5rem] grid place-items-center">Yokohama
      </li>
    </ul>
    <header class="mt-[4.5rem] grid grid-cols-1 gap-8 max-w-[35.8125rem] mx-auto first-letter:
      xl:grid-cols-[20.125rem,27.8125rem,14.0625rem] xl:justify-between xl:max-w-none xl:mx-0
    ">
      <h2 id="title_locations_02" class="heading-md text-center xl:text-left">Your City
        Not Listed?</h2>
      <p class="body-md text-center xl:text-left">If you&apos;d like to see Scoot in your
        hometown, be sure to let
        us know. We track requests and
        plan launches based on demand. Feel free to message us by clicking the link or
        messaging
        us on social.</p>
      <a routerLink="/locations"
        class="button-primary w-[11.25rem] mx-auto xl:mx-0 xl:justify-self-end">Message
        Us</a>
    </header>
  </div>
</section>